
.redfin-menu-item {
    position: relative;
    display: inline-block;
    .why-buy-list {
        ul {
            padding: .25rem 0!important;
            margin: 0;
            padding: 0;
            width: 100%;
            white-space: normal;
        }
    }
    .list {
        height: 138px;
        position: absolute;
        right: 0;
        display: none;
        width: 240px;
        margin-top: 19px;
        color: #333;
        text-align: -webkit-match-parent;
        line-height: 1.25;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        vertical-align: baseline;
        background-color: white;
    }
    .why-sell-list {
        ul {
            padding: .25rem 0!important;
            white-space: normal;
            margin: 0;
            padding: 0;
            width: 100%;
        }
    }
}
.buy:hover .why-buy-list {
    display: flex;
}

.sell:hover .why-sell-list {
    display: flex;
}

ul {
    li {
        width: 100%;
        padding: .25rem 1.5rem;
        a {
            display: block;
            font-size: .875rem;
            height: 18px;
            width: 192px;
            font-weight: 400;
        }
    }
}
