body, html {
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
}

#RedfinLogo
{
   color: white;
   svg {
      fill: white;
      width: 92px;
      height:35px;
   }

}

*, *:before, *:after {
   box-sizing: inherit;
}

html {
   box-sizing: border-box;
}
li {
   list-style: none;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.header {
   padding: 0 16px;
   display: flex;
   justify-content: space-between;
   height: 60px;
   font-size: 15px;
   line-height: 20px;
   align-items: center;
   font-family: "Helvetica",Arial,sans-serif;
   -webkit-font-smoothing: antialiased;
   color: white;
   .single-line-menus {
      display: flex;
      align-items: center;
      height: 100%;
      width: 547.5px;
      justify-content: space-between;
      .item-phone {
         height: 100%;
         display: flex;
         align-items: center;
         padding: 0 10px;
      }
      #top-menus {
         height: 100%;
         display: flex;
         align-items: center;
         flex-grow: 1;
         .redfin-menu {
            width: 250px;
            display: flex;
            height: 100%;
            align-items: center;
            flex-grow: 3;
            justify-content: space-around;
            margin-top: 0;
            .redfin-menu-item {
               display: flex;
               align-items: center;
               justify-content: center;
               height: 100%;
               flex-grow: 1;
            }
            .forums {
               display: flex;
               align-items: center;
               position: relative;
               .tool-list {
                  position: absolute;
               }
            }
         }
      }

      #user-menus {
         display: flex;
         flex-grow: 1;
         justify-content: space-around;
         height: 100%;
         .user-menu-item {
            display: flex;
            flex-grow: 1;
            justify-content: center;
            align-items: center;
         }
      }
   }
}

#home-bar {
   height: 600px;
   background: linear-gradient(rgba(0,0,0,0.55));
   background-size: cover;
   background-position: bottom;
   background-image: linear-gradient(rgba(0,0,0, 0.55) 0, rgba(0,0,0,0) 250px), linear-gradient(to left, rgba(0,0,0,.45) 0,rgba(0,0,0,0) 350px), url("https://ssl.cdn-redfin.com/v135.1.1/images/homepage/banners/DuskPeacock_Desktop.jpg");
}

#home-bar-left {
   color: white;
   font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
   margin-left: 245px;
   max-width: 556px;
   padding: 30px 22px 0px;
   .brand-text {
      margin: 0;
      margin-bottom: 32px;
      font-size: 3rem;
      font-weight: 300;
      letter-spacing: -.03em;
      line-height: 130%;
      -webkit-font-smoothing: antialiased;
   }
   .why-sell {
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      font-weight: 700;
      font-size: 16px;
      color: rgba(51, 51, 51, 0.75); 
      padding: 12px 24px;
   }
   .tabs {
      width: 500px;
      display: flex;
      justify-content: space-between;
      .active {
         font-weight: 700;
      }
   }
   .title {
      font-size: 1.25rem;
      font-weight: 400;
      letter-spacing: -.03em  ;
      line-height: 130%;
      -webkit-font-smoothing: antialiased;
   }
}

.find-a-home-lower {
   padding: 2rem 0 10px;
   .find-a-home-lower-text {
      line-height: 1.5;
      margin: 0;
      padding: 0 0 1rem;
      font-size: 16px;
      font-weight: 400;
      -webkit-font-smoothing: antialiased;
   }
}

textarea, input {
   outline: none;
   border-width: 0px;
   border-style: none;
}


button:focus {
   outline:0;
}
.input-box {
   display: flex;
   align-items: center;
   width: 510px;
   border: 1px solid #ccc;
   border-width: 0px;
   input {
      -webkit-appearance: none;
      -webkit-user-select: text;
      padding-left: 10px;
   }
   #search-box-input {
      width: 460px;
      height: 50px;
      font-size: 16px;
      font-weight: 300px;
   }
   .search-button {
      height: 50px;
      width: 50px;
      padding: 0;
      background-color: rgb(200,32,33);
      border-width: 0px;
      -webkit-appearance: none;
      color: white;
   }

}
